# Default
* @luau-lang/lute-contrib

# GitHub configuration
/.github/ @luau-lang/lute-maintainers

# Package management
/lute/cli/commands/pkg/ @luau-lang/lute-pkg-maintainers
/tests/cli/pkg/ @luau-lang/lute-pkg-maintainers

# Debugger
/lute/cli/commands/debug/ @luau-lang/lute-debug-maintainers
/tests/cli/debug.test.luau @luau-lang/lute-debug-maintainers

